---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Content from Strapi CMS";
const response = await fetch("http://127.0.0.1:1337/api/posts?populate=*");
const { data } = await response.json();
console.log(data);
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        {data.map((post) => (
    <img
        src={`http://127.0.0.1:1337${post.attributes.image.data.attributes.url}`}
        alt={post.attributes.image.data.attributes.name}
      />
      <BlogPost url={`../posts/${post.attributes.slug}`} title={post.attributes.title}></BlogPost>
      <p>{post.attributes.slug}</p>
      ))}
    </ul>
  </BaseLayout>