---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CSS from './BaseLayout.module.scss';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} - Andrea Ristori</title>
  </head>
  <body class={`${CSS.body} bg-slate-50 dark:bg-slate-700 text-black dark:text-white prose prose-lg my-8`}>
    <Header />
    <h1 class={`${CSS.pageTitle} text-slate-700 dark:text-white text-8xl py-2`}>{pageTitle}</h1>
    <slot />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>